.footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .footer-left {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centrar horizontalmente */
    justify-content: center; /* Centrar verticalmente */
    text-align: center; /* Centrar el texto */
  }
  
  .footer-left img {
    height: 40px;
  }
  
  .rights {
    margin-top: 10px;
  }
  
  .footer-center {
    margin-top: 10px;
  }
  
  .footer-links {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .footer-links li {
    margin-bottom: 10px;
  }
  
  .footer-links a {
    color: #fff;
    text-decoration: none;
    transition: background-color 0.45s, border-right 0.45s, padding 1.0s;
  }
  
  .footer-message {
    margin-top: 10px;
    
    
  }

  .footer-links a:hover{
    color: #fdfdfd;
    background-color: #33865d;
    border-right: 5px solid #40b97d;
    border-top: 5px solid #1b5538;
    border-left: 5px solid #0a2c1b;
    border-bottom: 5px solid #042414;
    padding: 10px;
    
  }
  /* Media query para dispositivos móviles */
  @media screen and (max-width: 600px) {
    .footer {
      flex-direction: column;
      text-align: center;
      padding: 10px;
    }
    
    .footer-container {
      flex: 1;
    }
    
    .footer-links li {
      margin-bottom: 5px;
    }
    
    .footer-message {
      font-size: 12px;
    }
  }
  
  /* Media query para restablecer los estilos */
  @media screen and (min-width: 601px) {
    .footer {
      flex-direction: row;
      text-align: left;
      padding: 20px;
    }
    
    .footer-container {
      flex: auto;
    }
    
    .footer-links li {
      margin-bottom: 10px;
    }
    
    .footer-message {
      font-size: inherit;
    }
  }