:root {
    --bg-dark: #1B1B1B;
    --bg-mid: #3D3F43;
    --bg-light: #ffffff;
    --bg-dark-accent: #5B5463;
    --bg-mid-accent: #D1C6CF;
    --bg-light-accent: #f3f0f3;
    --accent: #EE3F9E;
  }

* {
    color: #fff;

}

body {
    background-color: var(--bg-mid);
    font-family: 'Ubuntu', sans-serif;
}
.container {
    
    display: flex;
    justify-content: center;
    height: 10vh;
  }
  
  .centered-items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    max-width: 800px; /* Ajusta el ancho máximo según tus necesidades */
    width: 100%;
  }
  
  .centered-item {
    padding: 4vh;
    display: flex;
    justify-content: space-between;
    /* Estilos adicionales para el elemento centrado */
  }
  
  .left-aligned-item {
    padding: 15px;
    font-size: 15px;
    /* Estilos adicionales para el elemento alineado a la izquierda */
    margin-right: auto;
    position: relative;
  }
  .left-aligned-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .right-aligned-item {
    padding: 15px;
    font-size: 15px;
    /* Estilos adicionales para el elemento alineado a la derecha */
    margin-left: auto;
  }
.title-padding {
    display: inline-block;
    padding: 0px 40px;
}

.title{
    
    font-size: 40px;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 1000;
    background-color: var(--bg-dark);
    color: var(--bg-light);


    box-shadow: 0px 4px 6px rgba(139, 128, 113, 0.2);
}

.navbar {
  display: flex;
  justify-content: center;
  background-color: #333;
}


@media (max-width: 768px) {
  .navbar {
    flex-wrap: wrap;
  }

  .nav-list li {
    flex-basis: 100%;
    margin-right: 0;
    margin-bottom: 10px;
  }

  .nav-list a {
    padding: 8px 16px;
  }
}

.navbar-list {
  display: flex;
  list-style: none;
  padding: 0;
}


.navbar-item {
  padding: 12px 22px;
  margin: 0 8px;
  transition: background-color 0.45s, border-color 0.45s;
}

.navbar-item:hover {
  margin: 0 8px;
  background-color: #33865d;
  border-color: #1b5538;
}


.navbar-item a {
  color: #fff;
  text-decoration: none;
}

.background-header{
  background-image: url("https://media.tenor.com/lPsMNpUunr4AAAAd/minecraft-aesthetic-background.gif");
  background-size: cover;
  padding:30px;
  padding-bottom:25vh;
}



  .container-info{
    display: flex;

    
  }
  .container-flex-info{
    display: flex;
    gap: 5px; /* Ajusta el valor del espacio de separación según tus necesidades */
    flex: 1;
  }
  @media (max-width: 1600px){
    .container-flex-info {
      flex-direction: column;
      display: flex;
      text-align: center;
      font-size: 2.35vh;
      padding-left: 10px;
      flex: 1; /* Ocupa el espacio disponible */
      /* Estilos adicionales para la sección de información */
    }

  }

/*Variante de container-flex-info con TEXTO A LA IZQUIERDA*/

.container-flex-info-reverse {
  display: flex;
  flex-direction: row-reverse;
  gap: 5px; /* Ajusta el valor del espacio de separación según tus necesidades */
  flex: 1;
}
@media (max-width: 1600px) {
  .container-flex-info-reverse {
    flex-direction: column-reverse;
    display: flex;
    text-align: center;
    font-size: 2.35vh;
    padding-left: 10px;
    flex: 1; /* Ocupa el espacio disponible */
    /* Estilos adicionales para la sección de información */
  }
}  


  .info {
    flex-direction: column;
    display: flex;
    text-align: center;
    font-size: 2.35vh;
    padding-left: 10px;
    flex: 1; /* Ocupa el espacio disponible */
    /* Estilos adicionales para la sección de información */
  }

  .info-reverse {
    flex-direction: column;
    display: flex;
    text-align: center;
    font-size: 2.35vh;
    padding-left: 10px;
    flex: 1; /* Ocupa el espacio disponible */
    /* Estilos adicionales para la sección de información */
  }
  


  .text-container {
    text-align: center;
    font-size: 2vh;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    
  }
  .button-flex {
    text-align: center;
    font-size: 2.35vh;
    
    /* Estilos adicionales para la sección de información */
  }

  #description-1 {
    margin-top: 1vh;
    margin-bottom: 2vh;
    background-color: var(--bg-dark);
    padding: 2vh 2vh 2vh 2vh;
    border-radius: 1vh;
  }

  #description-1 img {
    max-width: 800px; /* Establece el tamaño máximo de la imagen */
    width: 100%; /* Permite que la imagen se ajuste al ancho del contenedor */
    height: auto; /* Ajusta la altura proporcionalmente */;
    transition: padding-left 1s;
  }

  @media (min-width: 1631px ) {
    #description-1 img {
      max-width: 950px; /* Establece el tamaño máximo de la imagen */
      width: 100%; /* Permite que la imagen se ajuste al ancho del contenedor */
      height: auto; /* Ajusta la altura proporcionalmente */;
      padding-left: 100px;
      transition: padding-left 1s;
    }
  }









  #diamantito{
    
    margin-top: 5vh;
    background-image: url("https://media.tenor.com/lKENDFsNXUkAAAAC/mine.gif");
    background-size: cover;
    background-size: cover;
    padding:30px;
    padding-bottom:20vh;
  
    opacity: 0.8; /* Establece una opacidad del 80% al fondo */
    backdrop-filter: blur(5px);
  }

  .hover-option {
    text-decoration: none;
  }

  .hover-option:hover{
    color: #33865d;
    
  }



  .grid-container {
    display: flex;
    flex-direction: row;
    flex-flow: row wrap;
    justify-content: space-between;
    width: 100%;
    max-width: 5%;
    max-height: auto;
    
  }
  
  .grid-item {
    display: flex;
    background-color: orange;
    width: calc(100% - 10px);
    margin: 5px
  }
  
  @media (min-width: 720px) {
    .grid-item {
      width: calc(33.333% - 10px);
    }
  }
  
  @media (min-width: 1020px) {
    .grid-item {
      width: calc(25% - 10px);
    }
  }

  .bentogrid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
  
  .bentogrid-item {
    flex: 1 0 300px;
    background-color: var(--bg-mid);
    border-radius: 10px;
    padding: 5px;
    text-align: center;
    transition: all 0.3s ease;
  }
  
  .bentogrid-item:hover {
    background-color: #33865d;
    border-radius: 10px;
    padding: 9px;
    text-align: center;
    transition: all 0.3s ease;
    box-shadow: 0 9px 7px rgba(0, 0, 0, 0.3);
  }
  

  .bentogrid-item img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
  }
  
  .bentogrid-item h3 {
    margin-top: 10px;
    font-size: 20px;
  }
  
  .bentogrid-item p {
    margin-top: 5px;
    font-size: 16px;
  }
  
  .wide {
    flex-basis: 640px;
    order: 1;
  }
  .tall {
    flex-basis: 300px;
    flex-grow: 2;
    order: 4;
  }

  
  .irregular {
    flex-basis: 300px;
    order: 2;
  }

  .bentogrid-wrapper {
    padding: 2.3vh;
    margin: 1px;
    background-color: var(--bg-dark);
  }
  @media (max-width: 767px) {
    .bentogrid-item {
      flex-basis: 100%;
    }
  
    .wide {
      order: initial;
    }
  
    .tall {
      flex-grow: 1;
      order: initial;
    }
  }
  
  @media (min-width: 768px) {
    .bentogrid {
      flex-direction: row;
    }
  
    .bentogrid-item {
      flex-basis: 33.33%;
    }
  }
  
  @media (min-width: 1024px) {
    .bentogrid-item {
      flex-basis: 25%;
    }
  }

  #gif-container {
    width: 300px; /* Ajusta el ancho según tus necesidades */
    height: 300px; /* Ajusta la altura según tus necesidades */
    overflow: hidden; /* Oculta cualquier contenido adicional fuera del contenedor */
  }

  #gif-container img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ajusta la imagen al tamaño del contenedor */
    display: none; /* Inicialmente, oculta todas las imágenes */
  }


  #iframe {
    width: 100%;
    max-width: 1100px;
    height: 0;
    padding-bottom: 56.25%; /* Relación de aspecto 16:9 */
    position: relative;
  }
  @media (max-width: 768px){
    #iframe {
      width: 100%;
      max-width: 400px;
      height: 0;
      padding-bottom: 56.25%; /* Relación de aspecto 16:9 */
      position: relative;
    }
  }

  #iframe iframe {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }

  #iframe-video {
    width: auto;
    max-width: 800px;
    height: auto;
    
  }
  @media (max-width: 480px) {
    #mi-iframe {
      max-width: 100%;
      height: auto;
    }
  }